asgiref==3.4.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
dj-database-url==2.1.0
Django==4.0.1
django-bootstrap4==23.2
django-heroku==0.3.1
gunicorn==21.2.0
packaging==23.1
psycopg2-binary==2.9.8
soupsieve==2.5
sqlparse==0.4.1
typing-extensions==4.8.0
tzdata==2021.1
whitenoise==6.5.0
